In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

df = pd.read_csv(r"C:\Users\Anuj Bohra\Desktop\model_deploy\adult.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
df = df.drop(['fnlwgt', 'educational-num'], axis=1)
 

col_names = df.columns
 

for c in col_names:

    df = df.replace("?", np.NaN)

df = df.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [3]:
df.replace(['Divorced', 'Married-AF-spouse',

            'Married-civ-spouse', 'Married-spouse-absent',

            'Never-married', 'Separated', 'Widowed'],

           ['divorced', 'married', 'married', 'married',

            'not married', 'not married', 'not married'], inplace=True)
 

category_col = ['workclass', 'race', 'education', 'marital-status', 'occupation',

                'relationship', 'gender', 'native-country', 'income']

labelEncoder = preprocessing.LabelEncoder()
 

mapping_dict = {}

for col in category_col:

    df[col] = labelEncoder.fit_transform(df[col])
 

    le_name_mapping = dict(zip(labelEncoder.classes_,

                               labelEncoder.transform(labelEncoder.classes_)))
 

    mapping_dict[col] = le_name_mapping

print(mapping_dict)

{'workclass': {' ?': 0, ' Federal-gov': 1, ' Local-gov': 2, ' Never-worked': 3, ' Private': 4, ' Self-emp-inc': 5, ' Self-emp-not-inc': 6, ' State-gov': 7, ' Without-pay': 8}, 'race': {' Amer-Indian-Eskimo': 0, ' Asian-Pac-Islander': 1, ' Black': 2, ' Other': 3, ' White': 4}, 'education': {' 10th': 0, ' 11th': 1, ' 12th': 2, ' 1st-4th': 3, ' 5th-6th': 4, ' 7th-8th': 5, ' 9th': 6, ' Assoc-acdm': 7, ' Assoc-voc': 8, ' Bachelors': 9, ' Doctorate': 10, ' HS-grad': 11, ' Masters': 12, ' Preschool': 13, ' Prof-school': 14, ' Some-college': 15}, 'marital-status': {' Divorced': 0, ' Married-AF-spouse': 1, ' Married-civ-spouse': 2, ' Married-spouse-absent': 3, ' Never-married': 4, ' Separated': 5, ' Widowed': 6}, 'occupation': {' ?': 0, ' Adm-clerical': 1, ' Armed-Forces': 2, ' Craft-repair': 3, ' Exec-managerial': 4, ' Farming-fishing': 5, ' Handlers-cleaners': 6, ' Machine-op-inspct': 7, ' Other-service': 8, ' Priv-house-serv': 9, ' Prof-specialty': 10, ' Protective-serv': 11, ' Sales': 12, ' Tech-support': 13, ' Transport-moving': 14}, 'relationship': {' Husband': 0, ' Not-in-family': 1, ' Other-relative': 2, ' Own-child': 3, ' Unmarried': 4, ' Wife': 5}, 'gender': {' Female': 0, ' Male': 1}, 'native-country': {' ?': 0, ' Cambodia': 1, ' Canada': 2, ' China': 3, ' Columbia': 4, ' Cuba': 5, ' Dominican-Republic': 6, ' Ecuador': 7, ' El-Salvador': 8, ' England': 9, ' France': 10, ' Germany': 11, ' Greece': 12, ' Guatemala': 13, ' Haiti': 14, ' Holand-Netherlands': 15, ' Honduras': 16, ' Hong': 17, ' Hungary': 18, ' India': 19, ' Iran': 20, ' Ireland': 21, ' Italy': 22, ' Jamaica': 23, ' Japan': 24, ' Laos': 25, ' Mexico': 26, ' Nicaragua': 27, ' Outlying-US(Guam-USVI-etc)': 28, ' Peru': 29, ' Philippines': 30, ' Poland': 31, ' Portugal': 32, ' Puerto-Rico': 33, ' Scotland': 34, ' South': 35, ' Taiwan': 36, ' Thailand': 37, ' Trinadad&Tobago': 38, ' United-States': 39, ' Vietnam': 40, ' Yugoslavia': 41}, 'income': {' <=50K': 0, ' >50K': 1}}

In [4]:
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
 

X = df.values[:, 0:12]

Y = df.values[:, 12]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(

           X, Y, test_size = 0.3, random_state = 100)
 

dt_clf_gini = DecisionTreeClassifier(criterion = "gini",

                                     random_state = 100,

                                     max_depth = 5,

                                     min_samples_leaf = 5)
 
dt_clf_gini.fit(X_train, y_train)

y_pred_gini = dt_clf_gini.predict(X_test)
 

print ("Decision Tree using Gini Index\nAccuracy is ",

             accuracy_score(y_test, y_pred_gini)*100 )

Decision Tree using Gini Index
Accuracy is  83.13031016480704

In [6]:
import pickle
model_filename = 'model.pkl'

# Open the file in write-binary mode
with open(model_filename, 'wb') as file:
    # Dump the trained decision tree classifier into the file
    pickle.dump(dt_clf_gini, file)

print("Model saved to", model_filename)

Model saved to model.pkl